@model Eduali.WebPresentation.Models.ViewTrainingModel

<div class="head-trainings">
    <div class="head-middle-trainings"></div>
</div>

<div class="search-bar">
    <div class="container">
        <form action="" id="searchForm" method="GET">
            <input type="text" id="trainingsSearchBox" name="query" placeholder="Search by course name, category, or trainer" value="@Model.Query" />
            <button type="submit" id="searchBtn">Search</button>
        </form>
    </div>
</div>

<div class="wrapper-trainings">
    <div class="container">
        <div class="courses-table">
            <div class="courses-table-header">
                <h3>Trainings</h3>
            </div>

            @foreach (var training in Model.Data)
            {
                <div class="course">
                    <div class="left-info">
                        <h3><a href="#">@training.Name</a></h3>
                        <p><strong>Trainer:</strong> @training.TrainerName</p>
                    </div>
                    <div class="right-info">
                        @*March 24, 2014*@
                        <p><strong>@training.StartDate.ToShortDateString()</strong></p>
                        <p><em>@training.DurationInDays days long</em></p>
                    </div>
                </div>    
            }

        </div>
    </div>
</div>