@model Eduali.WebPresentation.Models.ViewTrainingModel

<div class="head-trainings">
    <div class="head-middle-trainings"></div>
</div>

<div class="search-bar">
    <div class="container">
        <form action="">
            <input type="text" id="trainingsSearchBox" name="" placeholder="Search by course name, category, or trainer" value="@Model.Query" />
            <button type="button" id="searchBtn">Search</button>
        </form>
    </div>
</div>

<div class="wrapper-trainings">
    <div class="container">
        <div class="filter-results">
            <h3>Search by</h3>

            <ul>
                <li class="checked">
                    <input type="checkbox" checked="checked">
                    <label>All subjects</label>
                </li>
                @foreach (var subject in Model.Subjects)
                {
                    var checkValue = subject.Selected ? "checked" : "";
                    
                    <li>
                        @*<span>123</span>*@
                        <input type="checkbox" name="subjects" value="@subject.Id" @checkValue>
                        <label>@subject.Name</label>
                    </li>
                }
            </ul>
        </div>

        <div class="courses-table">
            <div class="courses-table-header">
                <h3>Trainings</h3>
            </div>

            @foreach (var training in Model.Data)
            {
                <div class="course">
                    <div class="left-info">
                        <h3><a href="#">@training.Name</a></h3>
                        <p><strong>Trainer:</strong> @training.TrainerName</p>
                    </div>
                    <div class="right-info">
                        @*March 24, 2014*@
                        <p><strong>@training.StartDate.ToShortDateString()</strong></p>
                        <p><em>@training.DurationInDays days long</em></p>
                    </div>
                </div>    
            }

        </div>
    </div>
</div>

@section CustomScripts
{
    <script type="text/javascript">
        var $checkboxes = $('input[type="checkbox"][name="subjects"]');
        var search = function () {
            var value = $('#trainingsSearchBox').val();
            var query = 'query=' + value;

            $checkboxes.each(function (i, element) {
                if (element.checked) {
                    query += '&c=' + element.value;
                }
            });

            window.location.search = query;
        };

        $checkboxes.on('change', function (e) {
            search();
            // var checked = e.currentTarget.checked;
            // var value = e.currentTarget.value;
            // 
            // window.location.search = 'c=' + value;
        });

        $('#searchBtn').on('click', function () {
            search();
            // var value = $('#trainingsSearchBox').val();
            // var query = 'query=' + value;
            // window.location.search = query;
        });
    </script>
}